# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Virtual Environment
venv/
env/

# VS Code
.vscode/

# Mac
.DS_Store

# Windows
Thumbs.db

.git/
.gitignore
.pytest_cache/
# Logs
*.log